{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}

{% block body %}

	<section class="container">

		{% for game in games %}
			<div class="d-flex  flex-row" style="width_max: 480px;">
				<div class="card m-1 mb-3">
					<img src="https:/via.placeholder.com/240x320" class="card-img-top" alt="image">
				</div>

				<div class="card w-50 m-1 mb-3">
					<div class="card-body">
						<h5 class="card-title">
							<span>titre:</span>
							{{game.name}}
						</h5>
						<p class="card-subtitle mb-2 text-body-secondary">
							<span class="badge text-bg-secondary">
								{{game.editeur | default('Null')}}
							</span>
							<span class="badge text-bg-secondary">
								{{game.developpeurs | default('Null')}}
							</span>
							<span class="badge text-bg-secondary">
								{{game.plateforme | default('Null')}}
							</span>
						</p>

						<p class="card-text">{{game.descript}}</p>
						<p class="card-text text-info fw-bold fs-3">{{ game.price}}€</p>

						<div class="btn-group" role="group" aria-label="Basic mixed styles example">

							<a href="{{path('GameBuy.Game.edit',{id: game.id})}}" class="btn btn-warning">edite</a>

							<a href={{game.link}} class="btn btn-primary">Buy</a>

							{# <a href="{{path('GameBuy.Game.delete',{id: game.id})}}" class="btn btn-danger">suprimer</a> #}

						</div>
					</div>
				</div>
			</div>


		{% endfor %}
	</section>
{% endblock %}
