<header class="d-flex flex-wrap justify-content-around  py-3 px-1 mb-4 border-bottom">
	<a href="{{path('GameBuy.Home')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
		<span class="fs-4">GAME-Buy</span>
	</a>

	<ul class="nav nav-pills">
		<li class="nav-item">
			<a href="{{path('GameBuy.Home')}}" class="nav-link active" aria-current="page">Home</a>

		</li>
		<li class="nav-item">
			<a href="{{path('GameBuy.Game.New')}}" class="nav-link">new Game</a>

		</li>
		<li class="nav-item">
			<a href="{{path('GameBuy.Offre.New')}}" class="nav-link">new Offre</a>

		</li>
		<li class="nav-item">
			<a href="{{path('GameBuy.Offre.ShowAll')}}" class="nav-link">Offres</a>

		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">About</a>
		</li>
	</ul>
</header>
