{% extends 'base.html.twig' %}

{% block title %}Offre
{% endblock %}

{% block body %}

    {# à continuer formulaire de filtrage #}
	<div class="container border-secondary">
		<div class="input-group">
			<input type="text" class="form-control" name="azerty1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
			<input type="text" class="form-control" name="azerty2" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">

			<select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
				<option selected>Console</option>
				<option value="1">Sony</option>
				<option value="2">Switch</option>
				<option value="3">XBOX</option>
			</select>
			<select class="form-select bg-secondary text-light" id="inputGroupSelect04" aria-label="Example select with button addon">
				<option selected>trier :: prix</option>
				<option value="1">ASC</option>
				<option value="2">DESC</option>

			</select>
			<a class="btn btn-primary text-light" href="{{ path('GameBuy.Offre.filter.edition')}}">filter</a>

		</div>

	</div>

	<div class="container my-2">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">price</th>
					<th scope="col">link</th>
					<th scope="col">plateforme d'activation</th>
					<th scope="col">game</th>
					<th scope="col">operation</th>
				</tr>
			</thead>
			<tbody>
				{% for offre in offres %}

					<th scope="row">{{offre.id}}</th>
					<td>{{offre.price}}</td>
					<td>{{offre.link|default('lien vide')}}</td>
					<td>{{offre.plateformeActivation|default('plateforme Act vide')}}</td>

					<td>
						<ul class="list-group">
							<li class="list-group-item text-uppercase fw-bold">{{offre.offre.name|default('pas associer')}}</li>


							<li class="list-group-item text-center">{{offre.offre.editeur|default('pas associer')}}</li>
							<li class="list-group-item text-center">{{offre.offre.plateforme|default('pas associer')}}</li>
						</ul>
					</td>


					<td>
						<div class="btn-group" role="group" aria-label="Basic mixed styles example">
							<a href="{{ path('GameBuy.Offre.edit', {id: offre.id})}}" class="btn btn-warning">edit</a>

							<a href="{{ path('GameBuy.Offre.delete', {id: offre.id})}}" class="btn btn-danger">delete</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
